<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/124e42cc69.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" media="all" href="/assets/application-45182cac1b25141f155ceffd32044b4b39d52865d0d1a9e8031409d62b2a6649.css" data-turbolinks-track="reload">
    <title>Bookers2</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="OZA5LkhU7/HpGq5pfP+OMI709Ao6s2wx97lewdqnXbeepgHo2YkDERadu0tOEhhDC9c6oEeGVLbjnWJvZsczgA==">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
  <header>

        </ul>
      </div>
    </div>
  </nav>


    <%= yield %>
    </header>
    <main>
     
    </main>

  </body>
</html>
